.login-page{
    width:100vw;
    height:100vh;
    overflow:hidden;
    position:relative;

    display:flex;
    justify-content:center;
    align-items:center;

    background:
    radial-gradient(circle at top,#7b6dff 0%,transparent 45%),
    radial-gradient(circle at bottom,#d8d2ff 0%,transparent 40%),
    linear-gradient(180deg,#6452ff,#9b8cff,#d7d3ff);
}

/* Glow */

.login-page::before{
content:"";
position:absolute;
width:900px;
height:900px;
background:rgba(255,255,255,.18);
filter:blur(120px);
border-radius:50%;
top:-300px;
left:-200px;
}

.login-page::after{
content:"";
position:absolute;
width:700px;
height:700px;
background:rgba(255,255,255,.22);
filter:blur(120px);
border-radius:50%;
bottom:-200px;
right:-100px;
}

/* Bintang */

.star{
position:absolute;
background:white;
border-radius:50%;
animation:twinkle 3s infinite alternate;
}

@keyframes twinkle{

0%{
opacity:.2;
transform:scale(.8);
}

100%{
opacity:1;
transform:scale(1.3);
}

}

/* Card */

.login-card{

width:500px;

padding:60px;

border-radius:35px;

background:rgba(255,255,255,.9);

backdrop-filter:blur(20px);

box-shadow:0 25px 70px rgba(58,36,151,.25);

position:relative;

z-index:10;

}

/* Title */

.login-title{

font-family:'Cormorant Garamond',serif;

font-style:italic;

font-size:50px;

line-height:55px;

text-align:center;

color:#8b47ff;

font-weight:500;

}

.login-sub{

margin-top:10px;

text-align:center;

font-size:13px;

letter-spacing:3px;

color:#c991ff;

}

.label{

display:block;

margin-top:35px;

margin-bottom:10px;

font-size:12px;

letter-spacing:2px;

font-weight:700;

color:#9d5aff;

}

.input{

width:100%;

height:60px;

padding:0 22px;

border-radius:999px;

border:1px solid #eadcff;

background:#faf8ff;

font-size:16px;

color:#6b43e4;

outline:none;

transition:.25s;

}

.input::placeholder{

color:#c0b1ec;

}

.input:focus{

border-color:#8d6cff;

box-shadow:0 0 0 5px rgba(141,108,255,.15);

}

.button{

margin-top:40px;

width:100%;

height:62px;

border:none;

border-radius:999px;

background:linear-gradient(90deg,#8c73ff,#ba94ff);

font-size:18px;

font-weight:700;

color:white;

cursor:pointer;

transition:.25s;

box-shadow:0 18px 40px rgba(133,103,255,.35);

}

.button:hover{

transform:translateY(-2px);

}